.main {
  height: 80%;
  width: 70%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainbox {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.mainbox .area {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainbox .area div {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.mainbox .stitle {
  color: #FFF;
  font-size: 30px;
  text-shadow: 2px 2px 2px black, -1px -1px 3px black;
  line-height: 40px;
  text-align: center;
}
.mainbox .btn {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 20px;
  border-radius: 15px;
}
.mainbox .btn:hover {
  border-radius: 0px;
}
.mainbox .btn:active {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
}
.mainbox .newCore .newCoreName,
.mainbox .newCore #fromServerForm {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin: 0px 20px;
}
.mainbox .newCore #fromServerBtn {
  width: 60px;
}
.mainbox .newCore #fromServerForm {
  height: 35px;
}
