.promoBar {
  display: inline-flex;
  height: 1.2rem;
  line-height: 1.2rem;
  width: 100%;
  left: 0%;
  position: fixed;
  bottom: 0;
  background-color: #3a4344;
  color: white;
  justify-content: space-between;
}
.promoBar h1 {
  display: inline-block;
  margin: 0px 10px;
}
.promoBar .supbtn {
  cursor: pointer;
  user-select: none;
}
html {
  height: 100%;
}
html body {
  height: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
.whiteBG {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.topBar {
  display: inline-flex;
  height: 40px;
  line-height: 40px;
  width: 100%;
  left: 0%;
  position: fixed;
  top: 0;
  border-radius: 0px;
  justify-content: space-evenly;
}
.topBar .btn {
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
}
.topBar h1 {
  display: inline-block;
  font-size: 30px;
  margin: 0px 10px;
  color: #FFF;
  text-shadow: 2px 2px 2px black, -1px -1px 3px black;
  margin-bottom: 0px;
}
.support {
  width: 1200px;
  height: 600px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.support .return {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}
.support .space {
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.support img {
  width: 300px;
}
.title {
  color: #FFF;
  font-size: 40px;
  text-shadow: 2px 2px 2px black, -1px -1px 3px black;
  margin-bottom: 0px;
  text-align: center;
}
.btn {
  cursor: pointer;
  user-select: none;
  transition-duration: 0.2s;
  transition-property: all;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border: 0px;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.btn:active {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0);
}
.bg {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ms {
  width: 400px;
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ms .channel {
  text-align: center;
  font-size: 35px;
  color: #FFF;
  text-shadow: 2px 2px 2px black, -1px -1px 3px black;
}
.box {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.box .active {
  background: rgba(255, 255, 255, 0.6);
}
.settings {
  display: none;
}
.settings setting {
  position: relative;
}
.settings .musicToggle {
  display: flex;
  width: 600px;
  justify-content: space-evenly;
  align-items: center;
}
.settings .btn {
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
  height: 40px;
  width: 170px;
}
.settings .default,
.settings .voice {
  width: 50px;
}
.settings h2 {
  position: relative;
  left: 40px;
  top: -10px;
  font-size: 25px;
  color: #FFF;
  text-shadow: 2px 2px 2px black, -1px -1px 3px black;
  margin-bottom: 0px;
}
.settings input {
  position: relative;
  left: 200px;
  top: 10px;
}
.main .btime {
  color: #DDD;
  font-size: 60px;
  text-shadow: 2px 2px 2px black, -1px -1px 3px black;
}
.main .stime {
  color: #3a4344;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin-top: -60px;
}
.main .stime .timeToday {
  margin: 10px;
}
.main .stime .timeToday::before {
  content: "本轮时长:";
}
.main .stime .timeTot {
  margin: 10px;
}
.main .stime .timeTot::before {
  content: "生涯时长:";
}
.main .begin {
  line-height: 70px;
  font-size: 20px;
  height: 70px;
  width: 200px;
}
.main .mvpToggle {
  position: absolute;
  left: 50px;
  font-size: 12px;
  bottom: 50px;
  height: 40px;
  width: 120px;
  line-height: 40px;
}
.main .mvpToggle::before {
  content: "MVP监测";
}
.main .setTimer {
  position: absolute;
  bottom: 130px;
}
.main .setTimer input {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 35px;
}
.main .settingbtn {
  position: absolute;
  right: 50px;
  font-size: 12px;
  bottom: 50px;
  height: 40px;
  width: 120px;
  line-height: 40px;
}
